<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>{{.Title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body bgcolor="#000000" text="#FFFFFF" vlink="#CCCCCC" link="#FFFFFF" alink="#FFFFFF" style="margin: 0; padding: 0;">
<table width="100%" border="1" cellpadding="20" cellspacing="0" align="center" bordercolor="#444444" bgcolor="#000000">
  <tr>
    <td align="center" bgcolor="#1A1A1A">
      <font color="#FFFFFF" size="6"><b>TEXTTUBE</b></font>
    </td>
  </tr>
  <tr>
    <td>
      {{template "content" .}}
    </td>
  </tr>
  {{if .Authenticated}}
  <tr>
    <td align="center">
      <a href="/">Home</a> | <a href="/logout">Logout</a>
    </td>
  </tr>
  {{end}}
</table>
</body>
</html>
