{{define "content"}}
<table width="100%" border="0" cellpadding="10">
  <tr>
    <td>
      <font size="7"><b>{{.Video.Title}}</b></font>
      <p><font size="5">Channel: {{.Video.ChannelTitle}}</font></p>
      <hr>
      
      {{if .Summary}}
      <font size="6"><b>Summary</b></font>
      <br><br>
      <table width="100%" border="1" cellpadding="25" bgcolor="#111111" bordercolor="#444444">
        <tr><td><font size="6">{{.Summary}}</font></td></tr>
      </table>
      <br>
      {{end}}

      <form action="/video/{{.Video.VideoId}}/summarize" method="POST">
        <input type="submit" value=" {{if .Summary}}RE-SUMMARIZE{{else}}SUMMARIZE VIDEO{{end}} " style="height: 80px; width: 100%; font-size: 30px; font-weight: bold; background-color: #FFFFFF; color: #000000;">
      </form>
      
      <br>
      <a href="/"><font size="4">Back to Home</font></a>
    </td>
  </tr>
</table>
{{end}}
